<h1> Exercicio 03 da Semana 11 - NgFor</h1>


<h4>Filmes Favoritos</h4>

<ul>
  <li *ngFor="let filme of arrayList">
    {{filme}}

  </li>
</ul>
<br>







<!--
Em um projeto angular declare na classe do seu component uma
variável chamada **arrayList** que será do tipo array de strings,
os itens dessa lista serão seus 5 filmes favoritos.
Com a ajuda de um ngFor imprima todos os itens do array no html do seu component
dentro de uma tag html <li>.
O intuito desse exercício é imprimir em tela todos os itens do array usando a diretiva ngFor. -->
