<div class="container py-3 ">
    <header>
      <div
        class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom navbar-light navbar-dark bg-dark">
        <a href="/" class="d-flex align-items-center text-light text-decoration-none">
          <img src='./assets/comida.png' width="45" opacity="50" alt="">
          <svg width="40" height="32" class="me-2" viewBox="0 0 118 94" role="img">
  
          </svg>
          <span class="fs-4">NG-FOOD</span>
        </a>
  
        <nav class="d-inline-flex mt-25 mt-md-0 ms-md-auto">
          <a class="me-3 py-2 text-light text-decoration-none" routerLink="">Cardápio</a>
          <a class="me-3 py-2 text-light text-decoration-none" routerLink="/bebidas">Bebidas</a>
          <a class="me-3 py-2 text-light text-decoration-none" routerLink="/comidas">Comidas</a>
        </nav>
      </div>
    </header>
  </div>
